<ul class="step">
    <li class="step-item">
        <a href="#" class="tooltip" data-tooltip="Step 1">1</a>
    </li>
    <li class="step-item">
        <a href="#" class="tooltip" data-tooltip="Step 2">2</a>
    </li>
    <li class="step-item">
        <a href="#" class="tooltip" data-tooltip="Step 3">3</a>
    </li>
    <li class="step-item">
        <a href="#" class="tooltip" data-tooltip="Step 4">4</a>
    </li>
    <li class="step-item">
        <a href="#" class="tooltip" data-tooltip="Step 5">5</a>
    </li>
    <li class="step-item">
        <a href="#" class="tooltip" data-tooltip="Step 6">6</a>
    </li>
    <li class="step-item">
        <a href="#" class="tooltip" data-tooltip="Step 7">7</a>
    </li>
    <li class="step-item">
        <a href="#" class="tooltip" data-tooltip="Step 8">8</a>
    </li>
    <li class="step-item active">
        <a href="#" class="tooltip" data-tooltip="Step 9">9</a>
    </li>
    <li class="step-item">
        <a href="#" class="tooltip" data-tooltip="Step 10">10</a>
    </li>
    <li class="step-item">
        <a href="#" class="tooltip" data-tooltip="Step 11">11</a>
    </li>
</ul>