<div class="container text-center d-none">
    <h1>Email address</h1>
    <div class="columns">
        <div class="column col-4 col-sm-2"></div>
        <div class="column col-4 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <input name='email' class="form-input" type="email" placeholder="contact@example.com" autocomplete="off" required>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group btn-group-block">
                        <button class="btn back">Back</button>
                        <button class="btn btn-primary">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-4 col-sm-2"></div>
    </div>
</div>
    