<footer>
    <div id="container">
        <div class="col-12 footer-row top-title text-center">
            <form class="home-button" action="../">
                <a href="/" style="position: relative; top: 17px;">
                            <img id="footerLogo" class="Logo" src="{{url_for('static', filename='img/Logo.png')}}">
                        </a>
            </form>
            <div class="footer-message footer-row" style="font-size: 12px">
                <p>HomeRatesOnline.com is not a Financial Service Company, We do not offer loans or charge fees to you for the information we provide.<br/>
                This website is for informational purposes only. Please call or submit your information to be directed to a licensed professional in your area.</p>
            </div>
        </div>
    </div>
</footer>
