<head>
	   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122906976-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122906976-1');
</script>
   <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-950383881'); </script>
   <!-- Event snippet for Website Conversion conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. --> <script> function gtag_report_conversion(url) { var callback = function () { if (typeof(url) != 'undefined') { window.location = url; } }; gtag('event', 'conversion', { 'send_to': 'AW-950383881/6DpFCPmP9GwQieqWxQM', 'event_callback': callback }); return false; } </script>
</head>
  

  
   
   <div class="container text-center">
    <h1>What is your name?</h1>
    <div class="columns">
        <div class="column col-4 col-sm-2"></div>
        <div class="column col-4 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <input name='name' class="form-input" type="text" placeholder="Jane Doe" autocomplete="off" required>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group btn-group-block">
                        <a class="btn" href="/">Back</a>
                        <button class="btn btn-primary">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-4 col-sm-2"></div>
    </div>
</div>





